// Body
$body-bg: #f8f0e7;

// Typography
$font-family-sans-serif: 'Latha';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: rgb(146, 13, 13);
$light: rgb(252, 246, 240);
$secondary: rgb(240, 126, 20);
$success: rgb(66, 172, 131);