// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Vuetify
@import '~vuetify/dist/vuetify.min.css';

// mdiアイコン
@import '~@mdi/font/css/materialdesignicons.min.css';

// .card-header {
//     background-color: $secondary;
//     color: white;
//     font-weight: bold;
// }

#app {
    background: rgb(250, 250, 250);
}
.v-btn__content {
    text-transform: none;
}

.router-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.icon-lg > div > .v-skeleton-loader__avatar {
    height: 150px;
    width: 150px;
}

.icon-sm > div > .v-skeleton-loader__avatar {
    height: 150px;
    width: 150px;
}

.chat-body {
    height: 60vh;
    overflow: auto;
}
.table-cell {
    &-sm {
        width: 10rem !important;
        min-width: 10rem !important;
        max-width: 10rem !important;
    }
    &-md {
        width: 10rem !important;
        min-width: 10rem !important;
        max-width: 10rem !important;
    }
    &-lg {
        width: 10rem !important;
        min-width: 10rem !important;
        max-width: 10rem !important;
    }
}
table {
    td {
      word-wrap: break-word;
    }
  }
// .v-item-group {
//     width: 10rem !important;
//     min-width: 10rem !important;
//     max-width: 10rem !important;
// }

p {
    white-space: pre-wrap;
}

.top-fixed {
    position: fixed; /* 要素の位置を固定する */
    top: 48px; /* 基準の位置を画面の一番下に指定する */
    width: 100%;
    height: 72px
}
.middle-fixed {
    position: fixed; /* 要素の位置を固定する */
    top: 120px; /* 基準の位置を画面の一番下に指定する */
    bottom: 120px; /* 基準の位置を画面の一番下に指定する */
    width: 100%;
    overflow: auto;
}
.bottom-fixed {
    position: fixed; /* 要素の位置を固定する */
    bottom: 0; /* 基準の位置を画面の一番下に指定する */
    width: 100%;
    height: 120px;
}

.v-list-item-pre > .v-list-item__title {
    text-overflow: inherit;
    white-space: pre-wrap;
}